<div id="login" v-cloak>
  <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData"
             :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
    <div class="form-group">
      <label class="form-group has-feedback">Username</label>
      <input type="email" class="form-control" placeholder="John Doe"
             :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress"
             autocomplete="email" focus-first>
    </div>
    <div class="form-group">
      <label class="form-group has-feedback">Password</label>
      <input type="password" class="form-control" placeholder="Password"
             :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password"
             autocomplete="current-password">
      <div class="invalid-feedback" v-if="formErrors.password">Please enter your password.</div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <input type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe" class="peer">
            <label for="remember" class="peers peer-greed js-sb ai-c">
              <span class="peer peer-greed">Remember Me</span>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="peer">
          <button :syncing="syncing" class="btn btn-primary btn-block btn-flat">Login</button>
        </div>
        <!-- /.col -->
      </div>
    </div>

  </ajax-form>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
